# Node.js
node_modules/
npm-debug.log
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Logs
*.log
*.lock
*.tmp

# Binaries
*.tar.bz2
*.zst
*.bin
*.sst

# Anchor & Next.js build output
anchor/target/
.next/
out/
! th
# Build output
dist/
build/
.tmp/
.next/
out/
coverage/
.nx/cache
.nx/workspace

# Environment Variables
.env
.env.local
.env.*.local

# IDE/Editor files
/.idea
/.vscode
.DS_Store